/**
 * Amazon Auto Links - Web Page Dumper Admin
 * @version 1.0.1
 */
.amazon-auto-links-sctionsets .amazon-auto-links-sectionset,
.amazon-auto-links-sctionsets .amazon-auto-links-section,
.amazon-auto-links-sectionsets .amazon-auto-links-sectionset,
.amazon-auto-links-sectionsets .amazon-auto-links-section
{
    margin-bottom: 0;
}

/* Text area */
#sections-web_page_dumper .amazon-auto-links-field {
    width: 100%;
}
#sections-web_page_dumper .amazon-auto-links-field-textarea.amazon-auto-links-field .amazon-auto-links-input-label-container {
    width: 100%;
}
#sections-web_page_dumper .amazon-auto-links-section .form-table td label {
    display: inline-block;
    width: 100%;
}

/* Test field */
.test-web-page-dumper td {
    padding-top: 0;
    padding-bottom: 0;
}
.test-web-page-dumper h4 {
    margin: 0;
    margin-bottom: 0.4em;
}
.test-web-page-dumper input,
.test-web-page-dumper .button.button-action {
    vertical-align: middle;
}
.test-web-page-dumper .amazon-auto-links-input-label-container {
    width: 100%;
}
.test-web-page-dumper input {
    width: 72%;
}
.button.button-action {
    margin-left: 0.4em;
}

/* Screenshot */
.screenshot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
}
.screenshot img {
    width: auto;
    max-width: 80%;
    margin: auto;

    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 4px;
}

/* Ajax */
.ajax-spinner.test-web-page-dumper-spinner {
    vertical-align: middle;
}

.form-table td .test-result > div {
    margin: 0.4em 0;
}
.form-table td .test-result p {
    margin: 0.4em 0;
}