.auth-status {
	margin-bottom: 2em;
}
.connected {
	font-weight:bold;
	color: green;				
}
.disconnected {
	font-weight:bold;
	color: red;				
}

.top-right { 
	padding: 0 0 20px; 
} 

.disclaimer {
    padding: 1em;
    border: 1px solid rgb(251, 255, 100);
    background-color: rgb(254, 255, 246);
        
}