pre {
  border: 1px solid #ededed;
  padding: 1em;
  overflow-x: auto;
  background-color: #FFF;
}
pre code {
  color: #666;
  font-family: Consolas, Monaco, Lucida Console, monospace;
  line-height: 1.714285714;
  overflow: auto;
  background-color: transparent;
}