.widefat td	{
	vertical-align: middle;
}
.column-thumbnail {
	width: 20%;
}
.disabled {
	color: #C5C5C5;
}
.right-button {
	float: right;
}

.template-thumbnail{
	position: relative;
	z-index: 0;
}
.template-thumbnail:hover{
	background-color: transparent;
	z-index: 50;
}
.template-thumbnail span{ /*CSS for enlarged image*/
	position: fixed;
	background-color: #FCFCFC;
	padding: 5px;		
	border: 1px dashed gray;
	visibility: hidden;
	color: black;
	text-decoration: none;
}
.template-thumbnail span img{ /*CSS for enlarged image*/
	border-width: 0;
	padding: 2px;
	margin: 0 auto;
}
.template-thumbnail:hover span{ /*CSS for enlarged image on hover*/
	visibility: visible;
	top: 50px;				
}	