.top-right {
	margin-bottom: 12px;
}
.category-select-table {
	width: auto;
	height: 100%;
	padding: 0; 
	font-family: sans-serif; 
	font-size: 12px; 
	line-height: 1.4em;						
	border-width: 0;
	/* 'cellspacing' equivalent */
	border-spacing: 0;
	border-collapse: collapse;	
}
.category-select-table h4 {
	margin-top: 0; 
	padding-top: 0;
}			

.category-select-table td, 
.category-select-table th {
	padding: 0; /* 'cellpadding' equivalent */	
	vertical-align: text-top;
	text-align: left;				
}
.category-select-first-column {
	width: 20%;
	min-width: 200px;
	border-right:1px solid #dfdfdf;			
	padding: 0 3em 0 1em;
	list-style-type: none;
}
.category-select-first-column ul ul,
.category-select-first-column li {
	margin-left:0.72em; 
	
}


td.category-select-first-column {
	padding-right: 1em;
}
td.category-select-second-column {
	width: 40%;
	padding-left: 1em;
}
td.category-select-third-column {
	width: 40%;
	padding-left: 1em;
	/* font-size: 8px;  */
	/* line-height: 1em;  */
	/* padding: 0; */
}
.category-select-preview-left {
	border-right:1px solid #dfdfdf;
}
.category-select-preview-right {
	
}
.category-select-two-span {
	width: 80%;
	padding-left: 3em;
}
.category-select-submit-buttons {
	text-align: right;
	float: right; 
	margin-top: 0.1em;
	padding-right: 0;
}
.category-select-submit-buttons span.primary {
	margin-bottom: 0.6em;
}
.category-select-submit-buttons span {
	float: right;
	clear: right;
	margin-bottom: 0.5em;
	min-width: 200px;
}
.widthfixer {
	border-bottom:1px solid transparent;
}
.category-select-breadcrumb {
	margin-left: 0.72em;
	
}
.category-select-selected-category a {
	text-decoration: none;		
}
.category-select-selected-category label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
.category-select-selected-category input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
	margin-right: 0.5em;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}
.category-select-right-arrow {
	display: inline-block;
	vertical-align: middle;
	float: left;
}
.category-select-left-bottom-arrow {
	float: right;
	vartical-align: top;
}

li.zg_browseUp a {
    margin-left: 0.28em;
}