/* Form fields */
.links-style-label {
    font-size: 0.8em;
    width: 100%;
    display: inline-block;
}
.links-style-label code {
    font-size: 0.8em;
}


.amazon-auto-links-fieldset.child-fieldset > label.amazon-auto-links-child-field-title {
	font-size: 13px;
}

/* Debug output */
pre.dump-array {
    width: inherit !important;   
}

.right-submit-button {
    margin-right: 2em;
    float: right;
}
.right-button {
	margin-top: 8px;
	float: right;
}
.optional {
	margin-left: 1em;
}

.wrap div.settings-error.error,
.wrap div.error{
	margin-top: 36px;
}
.top-right { 
	margin: 0; 
	padding: 0; 
	max-height: 60px; 
	float: right;
	display: inline-box;
}

.upgrade-to-pro {
	
}
.description.upgrade-notice {
	margin-left: 1em;
}

span.disabled { 
	color: #AAA;
}
.wrap div.error {
	clear: both;
}
.upgrade-notice {
	vertical-align: bottom;
}
.upgrade-notice a {
	vertical-align: bottom;
}
hr {
	margin-top: 20px;
	border: 0;
	height: 1px;
	background: #DDD;
	width: 96%;
}
input.read-only, 
textarea.read-only {
	background-color: #F6F6F6;
}	

.get-now {
	margin-bottom: 10px;
}

/* Footer page load info */
/* Page Load Stats */
#admin-page-framework-page-load-stats {
	clear: both;
	display: inline-block;
	width: 100%
}
#admin-page-framework-page-load-stats li{
	display: inline;
	margin-right: 1em;
}		

/* To give the footer area more space */
#wpbody-content {
	padding-bottom: 140px;
}

/* */
.delete-line {
    text-decoration: line-through;
}

span.warning {
    color: red;
}
