/**
 * @name Unit Post Type
 * @version 1.1.0
 */
#post-body-content {
    margin-bottom: 10px;
}
#edit-slug-box {
    display: none;
}

/* Hide the submit button for the post type drop-down filter */
#post-query-submit {
    display: none;
}            
/* List Table Columns */
.column-status {
    width: 7.2%;
    text-align: center;  
}            
.column-unit_type, 
.column-template,            
.column-feed {
    width:10%; 
}
/* Feed column */
.column-feed { 
    text-align: center 
}
.feed-icon {
    display: inline-block;
    margin-top: 0.4em;
    margin-right: 0.8em;
}
/* Labels (taxonomy tag ) column */
.column-amazon_auto_links_tag {
    width: 16%;
}
/* Status Circle */
.circle {
    height: 1em;
    width: 1em;              
    border-radius: 50%;
    display: inline-block;                                
}
.green {            
    background-color: #339933;
}
.gray {
    background-color: #999999;
}
.red {
    background-color: red;
}
.unknown {
    background-color: #DDD;
} 
.column-status .circle {
    margin-top: 0.4em;
}

/* Details Column */
.column-details ul {
    margin: 0;
}
tr.type-amazon_auto_links:first-child td ul {
    margin-bottom: 0.1em;
}
.column-details li {
    box-sizing: border-box;
    margin-bottom: 0;
    font-size: 96%;
}
.column-details span.detail-title {
    box-sizing: border-box;
    display: inline-block;
    width: 44%;
    color: #777;
}
.column-details span.detail-value {
    box-sizing: border-box;
    display: inline-block;
    width: 54%;
}

/* Warnings */
.column-details .detail-title span.warning {
    float: right;
}
.column-details .detail-title .icon-warning {
    font-size: 16px;
    vertical-align: sub;
    height: 16px;
    line-height: 1;
}
.column-details .detail-value.warning {
    font-style: italic;
    width: initial; /* do not fit to the container for the tooltip */
}
.warning-tooltip-content {
    display: none;
}
