html, body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: unset !important;
}
#preview-button {
    /* inline-block to fit the width to the child element.
       This is needed to flexibly expand its width in preview when the button label dynamically changes
       if `block` is given, the width somehow gets fixed and the label text gets cut off. */
    display: inline-block;
}