html, body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: unset !important;
}
#preview-button {
    /* inline-block to fit the width to the child element. @deprecated 5.2.0 */
    /*display: inline-block*/
    display: block;
    margin: auto;
}