/**
 * @name Get New Templates
 * @version 1.0.0
 */
.align-center {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
.button-container.load {
    width: 100px;
}

.ajax-spinner {
    margin: 0.6em 0;
}

.do-not-load .dashicons-yes {
    color: green;
    margin: 0.2em 0.4em;
}