.products-container {
	width: 100%;
}
.products-container a {
	text-decoration: none;	
}
.product-container {
	width: 98%;
	display:table; 
	clear:both;
	margin-bottom: 20px;
}
.product-title {
}
.product-thumbnail {
	margin: 20px auto;
}
.product-thumbnail img {
}
.amazon-auto-links-credit {
	font-size: smaller;
}