/* Products table */
.list-table-container {
    margin-top: 1em;
}


/* Columns */
.column-expired {
    width: 5.2%;
}
.column-type
{
    width: 10%;
}
.column-modified_time,
.column-expiration_time
{
    width: 12%;
}

/* Modal Window (thickbox) */
#TB_window {
    /*width: 90%;*/
    /*height: 90%;*/
}
