/*
 * @name Products table
 * @version 1.0.1
 */
.float-right {
    float: right;
}

.product-thumbnail {
    width: 120px;
    height: 120px;
    border: solid 1px #BBB;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 1.2em;
    vertical-align: middle;
    display : flex;
    align-items : center;
    justify-content: center;
}
.product-thumbnail img {
    max-width: 100%;
    max-height: 100%;
}

table.product-details {
    margin-top: 2em;
}
.small-icon {
    font-size: 1em;
}

.column-key {
    width: 26%;
}

.centered {
    display : flex;
    align-items : center;
    justify-content: center;
    height: 100%;
}
