/* Admin Page Framework default form element */
#poststuff {
    display: none;
}

/* Flex box for details */
.details {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}
.detail-name {
    flex-basis: 40%;
    flex-shrink: 2;
    color: #777;
}
.detail-value {
    flex-basis: 60%;
    flex-shrink: 1;
    white-space: nowrap;
}

/* Products table */

.list-table-container {
    margin-top: 1em;
}

/* Column - Date */
.column-modified_time {
    width: 16%;
}
/* Column - Flags */
.column-flags {
    width: 12%;
}
.column-flags .detail-name {
    flex-basis: 68%;
}
.column-flags .detail-value {
    flex-basis: 32%;
}

/* Column - Price */
.column-prices {
    width: 15%;
}
.column-prices .detail-name {
    flex-basis: 30%;
}
.column-prices .detail-value {
    flex-basis: 70%;
}

/* Column - Image */
.column-image {
    width: 10%;
    vertical-align: middle;
}
.thumbnail {
    margin: 0 auto;
    width: 100%;
    max-width: 100px;
}
.thumbnail img {
    width: 100%;
    max-width: 100px;
}

/* List */
table.products ul {
    margin: 0;
}
tr:first-child td ul {
    margin-bottom: 0.1em;
}
table.products li {
    box-sizing: border-box;
    margin-bottom: 0;
    font-size: 96%;
}

/* Search Box */
p.search-box {
    margin-bottom: 0.2em;
}