/**
 * @name Category Selection
 * @version 1.0.1
 */
.display-inline-block {
	display: inline-block;
}
.now-loading {
	display: inline-block;
}
.now-loading img {
	margin-right: 0.4em;
	vertical-align: text-bottom;
}
.ajax-spinner {
	display: inline-block;
    vertical-align: bottom;
    margin-left: 0.4em;
	height: 1em;
}

.category-select-breadcrumb {
	display: inline-block;
}

.button.button-reload.button-small {
	margin-top: 0.4em;
	margin-left: 0;
	padding: 0 10px 0 6px;
}
.button.button-reload .dashicons {
	font-size: 1em;
    vertical-align: text-top;
    line-height: 1;
    height: 1em;
}

.label-checkbox {
	margin-right: 0.4em;
}
.label-checkbox input {
	margin-right: 0.4em;
}

/* Added/Excluding Checkbox */
#added-categories a, #excluding-categories a {
	text-decoration: none;
}
#selected-categories p {
	margin: 0 0 0.5em 0;
}

/* General Rules */
.hidden {
	display: none;
}
