.products-container {
	width: 100%;
}
.products-container a {
	text-decoration: none;	
}
.product-container {
	width: 98%;
	display:table; 
	clear:both;
	margin-bottom: 20px;
}
.product-title {
}
.product-thumbnail {
	margin: 20px auto;
	text-align: center;
}
.product-thumbnail img {
}
.amazon-auto-links-credit {
	font-size: smaller;
}

.amazon-product-lowest-new-price-value,
span.offered-price {
    color: #B12704;
    font-weight: bold;
}